p{
    color: black;
    font-size: 16px;
    font-family:arial;
    margin-top: 20px;
    margin-bottom:0;

}

.link{
    width: 200px;
    border-style: solid;
    border-color: grey;
    border-radius: 0;
    margin-bottom:20px;
    margin-top:0;

}
.policy{
    color: grey;
    font-size: 16px;
    margin-top:0;
    margin-bottom:15px;
}
.agree{


background-color: rgb(22, 134, 226);
color:white;
width: 200px;
border-radius: 10px;
border: none;

}